/**
 * Thaks to http://thepatternlibrary.com/ for providing high quality design pattern for free (Distributed License Free)
 *
 * ID a CLASS:
 * #nazevId ... musi byt unikatni (prave jeden prvek na strance muze mit nastaveny parametr id, napr <ul id="menu">...</ul>
 * .nazevClass ... muze mit libovolny pocet prvku 
 *
 * div#nazev-id    ... <div id="nazev-id">...</div>
 * div.nazev-tridy ... <div class="nazev-tridy">...</div>
 * .obecny-nazev-tridy ... <span class="obecny-nazev-tridy">...</span>, 
 *                         <ul class="obecny-nazev-tridy">...</ul>, 
 *                         ... (jakykoliv prvek, ktery ma nastaveny class="obecny-nazev-tridy")
 *
 * Nejdulezitejsi prvky:
 * ul   ... unordered list (neserazeny seznam polozek)
 * li   ... list item (prvek seznamu)
 * a    ... odkaz 
 * h1   ... napdis 1. urovne (h2 ... druhe, h3 ... treti, atp.)
 * div  ... obecny blokovy prvek (defaultne ma nastaveno display: block;)
 * span ... obecny radkovy prvek (defaultne ma nastaveno display: inline;)
 * p    ... paragraf (prvek pro odstavec)
 */

/* Nastaveni stylu pro element <body>...</body>. Nektere styly, ktere se nastavi zde, se propaguji do vnorenych prvku (napr.: vychozi font, barva textu, velikost pisma).*/
body {
	font-family: 'Lato', sans-serif; /* nastavi vsem prvkum uvnitr <body></body> vychozi font */

	padding: 0;
	margin: 0;

	background-color: #eee; /* fallback background */
	background-image: url('../images/ahoy.jpg'); /* nastavi obrazek na pozadi (stazeno z thepatternlibrary.com) */
	background-repeat: repeat; /* bude opakovat obrazek na pozadi (na ose x a zaroven na ose y) */

	color: #444;
	font-size: 1.1em;
	width: 100%;
	min-height: 100%;
}

/* Vychozi styl odstavce */
p {
	line-height: 1.4; /* vychozi velikost radku bude 140% ... text bude diky vetsim mezeram mezi radky citelnejsi  */
}

/* Vodorovna cara - upraveny vychozi styl */
hr {
	display: block;
    border-width: 0px;
    border-top: 1px solid #cec9ba;
}

/*---------------------------------------------------------------------------*/

.zarovnani-stranky {
	width: 900px; /* sirka bloku */
	margin: 20px auto; /* odsazeni od okraju (20px od horniho a od dolniho okraje, auto zarovna pozici bloku na stred vzledem k sirve rodicovskeho prvku (tady je to vzhledem k prvku <body>...</body>) */

	background-color: #f6f3eb; /* pozadi bloku - lehce bezova barva */
	padding: 30px 40px 20px; /* odsazeni od okraje k vnitrnimu obhasu - viz box model */

	border-radius: 5px; /* zakulati okraj elementu */
	border: 1px solid #888e99; /* nastavi okraj sirky 1px, stylu "solid" = neprerusovana cara, barvy #888e99 */
	box-shadow: 0 3px 1px 0px rgba(0,0,0,.2); /* Vyssi divci... prida stin k elementu */
}

.hlavicka h1 {
	color: #1b2848; /* Zmeni barvu vsech nadpisu <h1>...</h1> uvnitr bloku <div class="hlavicka">...</div> */
	text-align: center; /* Zarovna text na stred */

	padding-bottom: 20px; /* Odsazeni obsahu od spodni hranice prvku - viz box model */
	border-bottom: 1px solid #cec9ba; /* Prida vodorovnou caru nadpis */

    font-variant: small-caps;
    margin: 0;
}

/* styly pro nesetrideny seznam <ul id=hl-menu>...</ul> */
/* ul na zacatku nemusi byt uvedeno, kdyz zname ID=hl-menu ... odpovida prave jednomu prvku (libovolnemu) s parametrem id: <___ id="hl-menu"> ... </___>*/
ul#hl-menu {
	list-style-type: none; /* nastavi styl odrazek na prazdny misto "puntiku" */
	text-align: center; /* zarovna prvky seznamu na stred */
	padding-left: 0; /* zrusi vychozi odsazeni seznamu od leveho kraje */
	margin: 10px 0;
}

/* nasledujici pravidlo upravuje styly prvku <li></li> unvnitr <ul id="hl-menu"> ... </ul> */
ul#hl-menu li {
	display: inline-block; /* Zobrazi polozky seznamu vedle sebe misto pod sebou */
}

/* uprava stylu odkazu uvnit polozek seznamu uvnit <ul#hl-menu> ... <li> ... <a></a> ... </li> ... </ul> */
ul#hl-menu li a {
	text-decoration: none; /* Odstrani dekoraci odkazu = odstrani podtrzeni textu */
	color: #f3505d;

	padding: 10px 20px; /* vnitrni odsazeni - viz box model */
	display: block; /* aby se projevilo padding i od horniho/dolniho okraje prvku */

	font-weight: 700; /* 700 = bold (tluste pismo), 400 = normal */
	font-size: 0.9em; /* slightly smaller font-size */

	transition: all 0.25s ease-in-out; /* Vyssi divci... prida efekt prechodu po najeti mysi */
}

/* a:hover ... styly po najeti mysi na prvek <a>...</a> */
ul#hl-menu li a:hover {
	text-decoration: underline; /* Prida podtrzeni textu */
	color: #e02e3b;
}

/* Vyssi divci - oddelovac polozek v menu. Potreba rucne dopsat do html souboru. */
ul#hl-menu li.sep {
	width: 1px;
	height: 20px;
	line-height: 10px;
	vertical-align: middle;
	background-color: #cec9ba;
	font-size: 0;
}

/*---------------------------------------------------------------------------*/

.obsah-stranky {
	/* todo */
}

/*---------------------------------------------------------------------------*/

.paticka {
	/* todo */
}

/*---------------------------------------------------------------------------*/

